
node_modules/*
package-lock.json
variables.env
public/dist/App.bundle.js
public/dist/App.bundle.js
public/dist/App.bundle.js.map
public/dist/App.bundle.js
public/dist/style.css
public/dist/style.css.map
