extends layout

block content
  .inner
    .pageheader
      .text
        .title= `Account Administration`    
        div Manage your #{user.account.name} account
    if h.isAccountAdmin(user)
      .subtitle You're an admin, so you can...
      .section
        a(href=`/account/users`).link Add/remove users or change their roles
        p 
        div More options coming soon
    if h.isAccountOwner(user)
      .subtitle You're an owner, so you can...
      .section
        p 
        div More options coming soon
