extends layout
include mixins/_sectionCard

block content
  .inner
    .pageheader
      .title
        a(href=`/team/${team.slug}`) #{team.name}
      .actions
        .actions--item
          a(href=`/team/${team._id}/sections/add`) Create Sections
    .lists
      each section in team.sections
        +sectionCard(section)
    // pre= h.dump(team)