extends layout
include mixins/_teamCard

block content
  .inner
    .pageheader
      .title
        div= title
      .actions
        .actions--item
          a(href=`/teams/add`) Create Team
    .lists
      each team in teams
        +teamCard(team)
