extends layout
include mixins/_userCard
include mixins/_invitationCard
include mixins/_emptyCard

block content
  .inner
    if invitations.length
      .pageheader
        .title
          div= 'Pending Invites'
        .actions
          .actions--item
            a(href=`/account/users/invite`) Invite New User
      .lists
        each invitation in invitations
          +invitationCard(invitation)
    .pageheader
      .title
        div= 'Users'
      if !invitations.length
        .actions
          .actions--item
            a(href=`/account/users/invite`) Invite New User
    .lists
      each user in users
        +userCard(user)
    if users.length < 2 && invitations.length < 1
      +emptyCard('It`s so lonely. Invite a team-mate to join.','/account/users/invite')
    // pre= h.dump(user)
