mixin sectionCard(section = {})
  .list
    .list_content
      .list__title
        a(href=`/section/${section.slug}`) #{section.name}
    .list__actions
      if user && section.owner.equals(user._id)
        .list__action.list__action--edit
          a(href=`/sections/${section._id}/edit`)
            != h.icon('pencil')