.list {
  background: white;
  margin: 10px 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title{
    font-size: 1.2em;
    font-weight: 600;
  }
  &__url{
    a{
      color: cornflowerblue;
      font-size: 0.7em;
      font-weight: 500;
    }
  }
  &__text {
    margin-top: 10px;
    color: #999;
  }
}

.list__actions {
  position: relative;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.list__action {
  font-size: 10px;
  svg {
    width: 25px;
    fill: #ccc;
  }
  &--edit {
    a {
      border-bottom: 0;
    }
  }
}

